.headerArea .dropBtn {
    float: right;
    width: 40px;
    margin-right: 10px;
}

.headerArea .dropBtn span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
    margin: 5px auto;
}

.headerArea .navBar {
    display: none;
}

.content .course,
.content .course:nth-child(even) {
    align-items: center;
    margin-top: 5%;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "title"
                         "imgSection"
                         "courseDesc";
}

.course .imgSection img {
    width: 400px;
}

.course .imgSection {
    box-sizing: border-box;
    padding-bottom: 15px;
}

/* cancel the scale effect in mobile use */
.course .imgSection img:hover {
    transform: scale(1);
}

.title .courseName {
    text-align: right;
}

footer .footerNav {
    flex-direction: column;
}
