.headerArea .dropBtn {
    float: right;
    width: 40px;
    margin-right: 10px;
}

.headerArea .dropBtn span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
    margin: 5px auto;
}

.headerArea .navBar {
    display: none;
}

.content .course,
.content .course:nth-child(even) {
    align-items: center;
    margin-top: 5%;
    grid-template-columns: auto 60% auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: ". title . "
                         ". imgSection ."
                         ". courseDesc .";
    grid-gap: 15px 0;
}

.title .courseName {
    text-align: right;
}

.course .imgSection img:hover {
    transform: scale(1);
}
